body {
    background-color: black;
}

.container {
    width: 900px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 40px;
    border-radius: 4px;
}

.calc {
    width: 300px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.calc h1 {
    margin-top: -10px;
    font-size: 40px;
}

.calc input {
    height: 22px;
    width: 280px;
    padding: 8px;
    font-size: 1.2rem;
    margin: 15px 70px;
    border-radius: 5px;
    text-align: right;
}

.calc input[type=number]:focus {
    outline: none;
    box-shadow: 0 0 10px #3b59ee;
    border: 1px solid #74d0ff;
}

.buttons {
    display: flex;
    column-gap: 5px;
    margin-top: 5px;
}

.calc button {
    background-color: #007afe;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.calc button:hover {
    background-color: #0069D9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.historico {
    width: 400px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.historico h1 {
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.last-operations {
    text-align: right;
}

.last-operations p {
    margin-top: -2px;
    font-size: 15px;
}

.last-operations div {
    font-size: 18px;
}